
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.button {
  color: #FFFFFF;
  background-color: #4d5ae5;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  margin: 0 auto;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo .header-logo-studio {
  margin-right: 76px;
  color: #2e2f42;
}


.heroimage {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.contacts {
  font-style: normal;
}

.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
   color: #404bbf; 
  }


.button:hover,
 .button:focus {
background-color: #404bbf;
}

.solution-item {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.solution-text {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color:#2E2F42;
}
   

.team{
  background-color: #F4F4FD;
}
.team-item{
  background-color: #FFFFFF;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2E2F42;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

 .portfolio-title {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.11;
   letter-spacing: 0.02em;
   text-align: center;
   text-transform: capitalize;
   color: #2E2F42;
 }

 .advantages {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #2E2F42;
 }

 .p_advantages {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;
 }


 .footer {
  width: 1440px;
    height: 312px;
  background-color: #2E2F42;
}

 .logo footer-logo {
   font-family: "Raleway";
   font-weight: 700;
   font-size: 18px;
   line-height: 21px;
   letter-spacing: 0.03em;
   color: #4D5AE5;
 }

 .footer-logo-studio {
   color: #F4F4FD;}

 .footer-text {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #F4F4FD;
 }